.post-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 800px;
}

.infinite-scroll-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.infinite-scroll-component::-webkit-scrollbar {
    width: 0;
}